.input-field{
    background-color:gainsboro;
    border: 0;
    width: 25%;

}
#card-result{
    overflow-y:auto;
}
@media screen and (max-width:688px) {
   #card-result{
    margin-top: 16px;
    margin-bottom: 16px;
   }
    
}